In [20]:
cust_info=['Patience',23,'Kenya',15000, 11500, '450MB']

In [21]:
type(cust_info)

list

This is a normal list creation where the elements are a combination of integers and strings.

In [22]:
cust_info_new=('Patience',23,'Kenya',15000,11500,'450MB')

In [23]:
type(cust_info_new)

tuple

This is a tuple and its a special type of list created using parenthesis. It is used when the elements within the list are inteneded to not change constantly.

In [24]:
#Nested list - A list within a list. Check length of list using the function _len_
list1=['Kenya','Dar es Salaam', 5, 10,['China','Hong Kong']]
len(list1)

5

In [25]:
#Indexing - Check the item in the lists using the following form;

list1[1]

'Dar es Salaam'

In [26]:
#Slicing - Check the item in the lists using the following form;

list1[-1][1]

'Hong Kong'

In [27]:
#List Concantination 

list1=[1,2,3,4]
list2=[5,6,7,8]

list3 = list1 + list2
list3

[1, 2, 3, 4, 5, 6, 7, 8]

In [28]:
#Membership in lists & tuples - Check if the element requested is within the list, use the following form

list4 = [1,2,3,4]
print(1 in list4)
print(5 in list4)

True
False

# Let's talk about the mutability of lists

In [29]:
# Finidng the index of an element within a list, use index_of_item = listname.index('item'), print(index_of_item)
list5 = ['Maths', 'Physics', 'Chemistry', 'Biology']
index_of_biology = list5.index('Biology')
print(index_of_biology)

3

In [30]:
# Modifying item within a common list
list6 = ['Maths', 'Physics', 'Chemistry', 'Biology']
list6[-1] #Or list6[3]
list6[3]= 'Computer Science'
list6

['Maths', 'Physics', 'Chemistry', 'Computer Science']

In [31]:
#extend() function --> It extends the lists

list6 = ['Maths', 'Physics', 'Chemistry', 'Computer Science']
list6.extend(['Biology', 'History', 'Geography'])
len(list6)
list6

['Maths',
 'Physics',
 'Chemistry',
 'Computer Science',
 'Biology',
 'History',
 'Geography']

In [32]:
#list.append([]) --> Adds a list within the list(nested lists) --> If you keep running the same code, you will end up in a lopp where the list will keep appending
if ['English','Social Studies'] not in list6:
    list6.append(['English','Social Studies'])
    break
(list6)

SyntaxError: 'break' outside loop (380504874.py, line 4)

In [ ]:
# To get out of the append loop, use pop out forthe excess to be removed and then append once
while list6 and list6[-1] == ['English', 'Social Studies']:
    list6.pop()
list6

['Maths',
 'Physics',
 'Chemistry',
 'Computer Science',
 'Biology',
 'History',
 'Geography']

In [ ]:
#list.append([]) --> Adds a list within the list(nested lists). Use break to exit the loop
list6 = ['Maths', 'Physics', 'Chemistry', 'Biology']

while True:
    if ['English', 'Social Studies'] not in list6:
        list6.append(['English', 'Social Studies'])
    else:break

print(list6)

['Maths', 'Physics', 'Chemistry', 'Biology', ['English', 'Social Studies']]

In [ ]:
# del command --> Delete attributes from list. Maths, at index 0, will be deleted

list6 = ['Maths', 'Physics', 'Chemistry', 'Biology', ['English', 'Social Studies']]

del list6[0]
list6

['Physics', 'Chemistry', 'Biology', ['English', 'Social Studies']]

In [ ]:
# pop()--> This is the default for the last element to be removed from the list. 

list6 = ['Maths', 'Physics', 'Chemistry', 'Biology', ['English', 'Social Studies']]
list6.pop() 
list6

['Physics', 'Chemistry', 'Biology', ['English', 'Social Studies']]

# LIsts Vs Tuples

## Lists
1. Items are surrounded by square brackets[]
2. Lists are mutable in nature
3. >40 methods in lists
4. Constant changes in items should be used in lists
5. Objects in lists cannot be used as keys for dictionaries.

## Tuples
1. Items are surrounded by round brackests ()
2. Immutable in nature
3. 30-35 methods 
4. Fixed content should go for tuples
5. Objects can be used for dictionaries

In [ ]:
t = (1,2,3,4)

t2 = 1,2,3,4,5,6,7,8

type(t2)


# Tuples are immutable, meaning they cannot be changed.

tuple

In [ ]:
type(t)

tuple

In [ ]:
len(t2)

8

In [ ]:
len(t)

4

In [ ]:
t3 = ('hello', 5, 1, 7, [3,9,8])
len(t3)

5

In [ ]:
type(t3[4])

list

In [ ]:
var = t3[4]
var

[3, 9, 8]

In [34]:
t3[4][0] 
#t3[4][0] = 10 # This will not work because tuples are immutable
# To change the value of a list within a tuple, you can do the following
var[0] = 10
var # This will now show the updated value of the list within the tuple

[10, 9, 8]

In [35]:
# To check the type of the variable var, you can use the type() function
type(var) # This will show that var is a list

list

In [36]:
# To check the type of the variable t3, you can use the type() function
type(t3) # This will show that t3 is a tuple

tuple

In [37]:
# To check the type of the variable t3[4], you can use the type() function
type(t3[4]) # This will show that t3[4] is a list

list

In [38]:
# To check the type of the variable t3[0], you can use the type() function
type(t3[0]) # This will show that t3[0] is a string

str

In [39]:
#To check the type of the variable t3[1], you can use the type() function
type(t3[1]) # This will show that t3[1] is an integer

int

In [40]:
sum(t3[1:4]) # This will show the sum of the elements in the tuple from index 1 to 4 (exclusive of 4)
# To check the type of the variable t3[1:4], you can use the type() function

13

In [41]:
min(t3[1:4]) # This will show the minimum value of the elements in the tuple from index 1 to 4 (exclusive of 4)
# To check the type of the variable t3[1:4], you can use the type() function

1

In [42]:
max(t3[1:4]) # This will show the maximum value of the elements in the tuple from index 1 to 4 (exclusive of 4)

7

# Sorting a Tuple
## Using typecasting

- You cannot sort a tuple without converting into list then convert back to tuple.

In [43]:
## Nested tuples

t4 = (1,2,3,4,5,6,7,8,(9,10,11),12)
t4[8][1] # This will show the second element of the nested tuple at index 8

10

# SETS

- Unordered collection of items
- Items cannot have duplicated objects 
- They are within curly brackets {}
- A type of collection like lists, tuples storing mixed data
- They are unordered in nature
- Useful when finding unique elements within a list/tuple

In [44]:
Set1 = {1,3,3,4,5,8,7,8}
len(Set1) # This will show the length of the set, which is 8 because sets do not allow duplicates

6

In [46]:
Set2 = {1,2,3,4,4,7,7,10,10,23,14}
print(len(Set2)) # This will show the length of the set, which is 8 because sets do not allow duplicates
Set2.add(5) # This will add the element 5 to the set
print(Set2) # This will show the updated set with the added element 5
Set2

8
{1, 2, 3, 4, 5, 7, 10, 14, 23}

{1, 2, 3, 4, 5, 7, 10, 14, 23}

## Set Operation
1. Union
2. Intersection
3. Difference
4. Symmetric difference

In [ ]:

set1 = {0,2,4,6,8}
set2 ={1,3,5,7,9}

In [49]:
#Union()
print(set1 | set2) # This will show the union of set1 and set2, which is {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
# This will show the union of set1 and set2, which is {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
print(set1.union(set2)) # This will also show the union of set1 and set2, which is {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
print(len(set1.union(set2))) # This will show the length of the union of set1 and set2, which is 10

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
10

In [50]:
#Intersection()
print(set1 & set2) # This will show the intersection of set1 and set2, which is an empty set because there are no common elements
print(set1.intersection(set2)) # This will also show the intersection of set1 and set2, which is an empty set because there are no common elements
print(len(set1.intersection(set2))) # This will show the length of the intersection of set1 and set2, which is 0 because there are no common elements

set()
set()
0

In [51]:
#Difference()
print(set1 - set2) # This will show the difference of set1 and set2, which is {0, 2, 4, 6, 8}
print(set1.difference(set2)) # This will also show the difference of set1 and set2, which is {0, 2, 4, 6, 8}
print(len(set1.difference(set2))) # This will show the length of the difference of set1 and set2, which is 5

{0, 2, 4, 6, 8}
{0, 2, 4, 6, 8}
5

In [52]:
#symmetric_difference()
print(set1 ^ set2) # This will show the symmetric difference of set1 and set2, which is {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
print(set1.symmetric_difference(set2)) # This will also show the symmetric difference of set1 and set2, which is {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

## Why do sets get use
1. Identifying the unique elements
2. Used in place of while loops or iterations

In [54]:
# Set practice

A = [5,1,3,4,5,6,7]
B = [3,3,5,5,1,7,1]

list1 = set(A) & set(B) # This will show the intersection of A and B, which is {1, 3, 5, 7}
print(list1) # This will show the intersection of A and B, which is {1, 3, 5, 7}
print(sorted(list1)) # This will show the sorted intersection of A and B, which is [1, 3, 5, 7]

{1, 3, 5, 7}
[1, 3, 5, 7]

# Dictionary

- Unordered collection of data
- Stored as **key : value pair**
- Keys should not be mutable and values can be of any type
- Initiated using curly brakets{}
- The key is like an index, unique.

In [3]:
# Creating a dictionary

dict1 = {'name':'Patience', 'age':23, 'country':'Kenya', 'salary':15000, 'bonus':11500, 'internet':'450MB'}
print(type(dict1)) # This will show the type of dict1, which is a dictionary

# Accessing value using keys
print(dict1['name']) # This will show the value associated with the key 'name', which is 'Patience'

<class 'dict'>
Patience

In [4]:
# Replacing value for a key
dict1['name'] = 'Patience Wanjiru' # This will replace the value associated with the key 'name' with 'Patience Wanjiru'
print(dict1['name']) # This will show the updated value associated with the key 'name', which is 'Patience Wanjiru'

Patience Wanjiru

In [6]:
# Inserting a new key-value pair
dict1['location'] = 'Nairobi' # This will add a new key-value pair to the dictionary, where the key is 'location' and the value is 'Nairobi'
print(dict1) # This will show the updated dictionary with the new key-value pair added

{'name': 'Patience Wanjiru', 'age': 23, 'country': 'Kenya', 'salary': 15000, 'bonus': 11500, 'internet': '450MB', 'location': 'Nairobi'}

In [7]:
# Deleting a key-value pair
del dict1['location'] # This will delete the key-value pair with the key 'location' from the dictionary
print(dict1) # This will show the updated dictionary with the key-value pair deleted

{'name': 'Patience Wanjiru', 'age': 23, 'country': 'Kenya', 'salary': 15000, 'bonus': 11500, 'internet': '450MB'}

In [8]:
# Deleting a key-value pair using pop()
dict1.pop('salary', None) # This will delete the key-value pair with the key 'location' from the dictionary, if it exists
print(dict1) # This will show the updated dictionary with the key-value pair deleted, if it existed

{'name': 'Patience Wanjiru', 'age': 23, 'country': 'Kenya', 'bonus': 11500, 'internet': '450MB'}

In [9]:
# values() method
dict1.values() # This will show all the values in the dictionary, which are ['Patience Wanjiru', 23, 'Kenya', 11500, '450MB']
print(dict1.values()) # This will show all the values in the dictionary, which are ['Patience Wanjiru', 23, 'Kenya', 11500, '450MB']

dict_values(['Patience Wanjiru', 23, 'Kenya', 11500, '450MB'])

In [10]:
# keys() method
dict1.keys() # This will show all the keys in the dictionary, which are ['name', 'age', 'country', 'bonus', 'internet']
print(dict1.keys()) # This will show all the keys in the dictionary, which are ['name', 'age', 'country', 'bonus', 'internet']

dict_keys(['name', 'age', 'country', 'bonus', 'internet'])

In [12]:
# get() method
dict1.get('name') # This will show the value associated with the key 'name', which is 'Patience Wanjiru'
print(dict1.get('name')) # This will show the value associated with the key 'name', which is 'Patience Wanjiru'
dict1.get('location') # This will show 'Key not found' because the key 'location' does not exist in the dictionary
print(dict1.get('location')) # This will show 'Key not found' because the key 'location' does not exist in the dictionary

Patience Wanjiru
None

In [13]:
# update() method
dict1.update({'location':'Nairobi'}) # This will update the dictionary with the new key-value pair, where the key is 'location' and the value is 'Nairobi'
print(dict1) # This will show the updated dictionary with the new key-value pair added

{'name': 'Patience Wanjiru', 'age': 23, 'country': 'Kenya', 'bonus': 11500, 'internet': '450MB', 'location': 'Nairobi'}