### Loops
 - Used for repetition
    Iterable: An object that can be iterated over e.g. _Lists, Tuples, Dictionaries, Strings, Sets_
    - Iterator: variable that goes through each element in the iterable

<u> Types of Loops </u>
 1. For Loops
 2. While loops

#### For Loop example

In [ ]:
for i in range(1, 5):
    print(i)
else:
    print("Loop completed successfully.")

1
2
3
4
Loop completed successfully.

#### While Loop example

In [ ]:
# While condition == True:

i=1
while i<5:
    print(i)
    i += 1

1
2
3
4

#### Checking if a number is even or odd

In [ ]:
x = 101

if x % 2 == 0:
    print(x, "is an even")
else:
    print(x, "is an odd")

101 is odd

Input from user checking if a number is even or odd

In [ ]:
x = int(input("Enter a number: "))
if x % 2 == 0:
    print(x, "is an even")
else:
    print(x, "is an odd")
# Checking if a number is prime

205 is an odd

In [11]:
# Allow: greater than 18 & less than 50 years of age

x = int(input("Enter your age: "))
if x < 18 or x > 50:
    print("Sorry! You are not allowed to enter the party")
else:
    print("You are allowed to enter the party")

Sorry! You are not allowed to enter the party

#### Program to provide discounts/offers

In [2]:
shopping_amt = int(input("Enter your billed amount"))
if shopping_amt >= 5000:
    print("You have won a voucher of 1000$")
elif shopping_amt >= 25000:
    print("You have won a voucher of 500$")
else: 
  print("OOPS! No vouchers")

OOPS! No vouchers

### Iterations

#### Iterate over a list of integers

In [5]:
list1 = [10, 20, 30, 40, 50]
print(len(list1))
for i in list1:
    print(i)

5
10
20
30
40
50

#### Iterate over a String

In [7]:
str1 = "Hello"
for i in str1:
    print(i)

H
e
l
l
o

#### Iterate over a Dictionary

In [14]:
student_data = {1: ["Sam",21], 2:["Sharma", 29], 3: ["Sam", 25]}
for i in student_data:
    print(i)

1
2
3

In [ ]:
student_data = {1: ["Sam",21], 2:["Sharma", 29], 3: ["Sam", 25]}
for i in student_data.items():
    print(i)

(1, ['Sam', 21])
(2, ['Sharma', 29])
(3, ['Sam', 25])

In [12]:
for i,j in student_data.items():
    print(j)

['Sam', 21]
['Sharma', 29]
['Sam', 25]

#### Iterate over a range of values

In [15]:
for i in range(1,7):
  print(i)

1
2
3
4
5
6

### Comprehension

#### Appending

In [17]:
list_1 = ["Automobiles","Honda", "Benz", "Maruti","Kia"]

list_2 = []

for i in list_1:
    list_2.append(i)
print(list_2)

['Automobiles', 'Honda', 'Benz', 'Maruti', 'Kia']

#### Find Length

In [18]:
list_1 = ["Automobiles","Honda", "Benz", "Maruti","Kia"]

list_2 = []

for i in list_1:
    list_2.append(len(i))
print(list_2)

[11, 5, 4, 6, 3]

In [19]:
list_1 = ["Automobiles","Honda", "Benz", "Maruti","Kia"]

list_2 = [len(i) for i in list_1]

print(list_2)

[11, 5, 4, 6, 3]

In [22]:
list_1 = ["Automobiles","Honda", "Benz", "Maruti","Kia"]

d = {i: len(i) for i in list_1}

print(d)

{'Automobiles': 11, 'Honda': 5, 'Benz': 4, 'Maruti': 6, 'Kia': 3}

### FUNCTIONS
 - Named sequence of statements that performs some operations.
 - Two attributes are needed: Function name and argument
 - User defined functioned: Users defined by developers using keyword **def**
 - def function_name():

#### Lambda Function
 - Small anonymous functions to make life easier for developers.
 - It can take many arguments but only one expression.
 - It reduces the number of lines in a code file.
 - lambda arguments : expression

In [2]:
# Even or Odd

def even_odd(num):
    if num % 2 == 0:
        print (num, "This is an even number")
    else:
        print (num, "This is an odd number")

In [3]:
even_odd(10)

10 This is an even number

In [ ]:
# Factorial of a number
# 4! = 4*3*2*1 = 24
# n! = n*(n-1)*(n-2)*...*1
def fact_number(n):
    fact = 1
    for i in range(1, n+1):
        fact = fact * i
    return fact

In [10]:
fact_number(6)

720

#### Sum of all natural numbers till the number provided

##### In other terms, the cummulative function

In [12]:
def sum_natural(n):
    num = 0

    for i in range(1,n+1):
        num = num+i
    return num

In [14]:
sum_natural(3)

6

#### LAMBDA FUNCTIONS